
.header {
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 19px;
    margin-bottom: 109px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
/* .header__logo-link {
    display: inline-block; 
    width: 68px;
    height: 31px;
} */

.header__logo-img {
    max-width: 100%;
    max-height: 100%;
   
}
.header__menu-list {
    display: flex;
    justify-content: end;
}
.header__menu-item {
    margin-bottom: -7px;
}
.header__menu-item:not(:first-child) {
    margin-left: 48px;
}
.header__menu-link:hover{
    border-bottom: 3px solid #EC7979;
    border-left: 3px solid #EC7979;
}
.header__menu-link {
    display: inline-block;
    padding: 0 0 4px 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    
    transition:  .3s;
    
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    color: rgba(255, 255, 255, 0.7);
}
.axit {
    /* padding-top: 109px; */
    padding-bottom: 101px;

    background-image: url('../img/foto-axit.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    position: relative;
}
.axit::after{
    content: '';
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

} 
.container {
    position: relative;
    z-index: 3;
}
.axit__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.axit__content {
    text-align: left;
    margin: 0 15px;
}
.axit__logo {
    display: inline-block;
    margin-bottom: 57px;
}
.axit__logo-img {
    max-width: 100%;
    max-height: 100%;
}

.axit-title {
    max-width: 550px;
    color: #FFFFFF;
}
.axit-title:after{
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background-color: #ffffff;
    margin: 32px 0 39px;
}
.axit__text {
    margin-bottom: 39px;
}
.axit__tex {
    font-size: 14px;
    line-height: 19px;
    max-width: 272px;
    color: #86878B;
}

.axit__form {
    max-width: 370px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;

    margin: 0 15px;
}

.form__title {
    
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    
    text-align: center;
    text-transform:capitalize;
    color: #333333;
    
    padding: 16px 59px;
    margin: 0 auto 16px;
}
.form__title span{
    text-transform: uppercase;
    color: #EC7979;
}
.form__input{
    padding: 0 59px;
}
.form__input-item {
    display: block;
    width: 100%;
    margin-bottom: 4px;
    margin-left: -5px;
    color: #000000;
    font-size: 14px;
    line-height: 19px;

    padding: 19px 0 19px 5px;
    border-bottom: 1px solid #BDBDBD;
    transition: all .3s;
    
}
.form__input-item:last-of-type{
    margin-bottom: 0;
}
.form__input-item:focus{
    box-shadow: 0 0 20px rgb(127 190 213 / 93%);
    border-radius: 8px;

}
.form__input-item:placeholder{
    text-align: left;
    color: #BDBDBD;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
}
.form__btn {
    display: block;
    width: 100%;
    
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-top: 61px;
    padding: 16px 0 17px ;
    
    background: #EC7979;
    color: #FFFFFF;
    
    text-transform: capitalize;
    border-radius: 0px 0px 8px 8px;
    transition: all .3s;
}

.form__btn:hover{
    background-color: rgb(127 190 213 / 93%);
}
.form__btn:active{
    background-color: tomato;
}