.axure {
    padding-top: 58px;
    padding-bottom: 38px;

    background-image: url('../img/mask.png');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover; 

    text-align: center;
    position: relative;
}
.axure:after{
    content: '';
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.axure-title {
    max-width: 460px;
    margin: 0 auto;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
}
.axure-title:after{
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background-color: #ffffff;
    margin: 34px auto 35px;
}
.axure__subtitle{
    margin-bottom: 57px;
}
.axure-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 4;
}
.axure__link-inner {
}
.axure__link {
    display: inline-block;
    border: 1px solid #FFFFFF;
    color: #ffffff;
    padding: 11px 26px;
    position: relative;
    z-index: 5;

    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}