.contact {
    background-color: #E5E5E5;
    padding: 80px 0 44px;

}

.contact-title {
    max-width: 409px;
    margin: 0 auto;
    text-align: center;
}
.contact__subtitle{
    margin-bottom: 91px;
}
.contact-title:after{
    content: '';
    display: block;
    width: 64px;
    height: 1px;
    background: #E72424;
    margin: 34px auto 35px;
}
.contact-text {
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
.form__contact {
    text-align: center;
}
.contact__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0 -15px 69px;

    color: #BDBDBD;
    line-height: 19px;  
}
.contact__input {
    flex: 0 1 41%;
    margin: 0 15px;   
    text-align: left;
}
.contact__label {
    display: block;
    text-transform: capitalize;
    
}
.contact__input-item {
    display: block;
    width: 100%;
    max-width: 478px;
    background-color: #E5E5E5;
    border-bottom: 1px solid #BDBDBD;

    padding-left: 5px;
    line-height: 32px;  
}
.contact__input-item:last-of-type{
    line-height: 46px;
}
.contact__input-item:not(:last-of-type){
    margin-bottom: 32px;  
} 
.contact__input-item:focus{
    box-shadow: 0 2px 13px rgb(127 190 213 / 93%);   
}
.contact__textarea {
    display: block;
    flex: 0 1 41%;
    margin: 0 15px;
    text-align: left;
}
.contact__label-textarea {
    display: block;
    text-transform: capitalize;
}
.contact__textarea-item {
    display: block;
    width: 100%;
    max-width: 478px;
    min-height: 216px;
    
    background-color: #E5E5E5;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    padding-left: 5px;
    transition: all .4s;
}
.contact__textarea-item:focus{
    box-shadow: 0 2px 13px rgb(127 190 213 / 93%);   
}
.contact__btn {
    display: inline-block;

    padding: 11px 32px 11px 31px;
    background: #EC7979;
    border: 1px solid #FFFFFF;
    line-height: 20px;
    color: #FFFFFF;
    transition: all .4s;
}
.contact__btn:focus{
    background: green;
}
.contact__btn:hover{
    color: #EC7979;
    border: 1px solid #EC7979;
    background: #FFFFFF;
}