.customers {
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: #f5f5f5;
}
.container-title {
    color: #212121;
    text-align: center;
    max-width: 700px;
      margin: 0 auto;
    /* margin-bottom: 70px; */
}
.container-title::after{
    content: "";
    display: block;
    width: 64px;
    height: 1px;
    background-color: #E72424;
    margin: 34px auto 35px;

}
.customers__subtitle{
    margin-bottom: 67px;
}
.customers-text {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.customers__row {
    margin: 0 -15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.customers__row-item {
    margin: 0 15px;
    max-width: 298px;
    width: 100%;
}
.customers__row-content {
    margin-bottom: 22px;
}
.customers__row-text {
    background-color: #E2E2E2;
    border-radius: 7px;
    color: #86878B;
    line-height: 19px;
    text-align: center;
    padding: 9px 22px 6px 23px;
    position: relative;
}
.customers__row-text::after{
    content: '';

    border-top: 17px solid #E2E2E2;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;

    position: absolute;     
    margin-top: 7%;
    left: 11%;
}
.customers__row-inner {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.customers__row-circle {   
    width: 70px;
    height: 70px;  
}
.customers__row-imges {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.customers__row-data {
    padding: 8px 0 4px;
}
.customers__row-data p+p{
    margin-top: 10px;
}
.customers__row-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.customers__row-post {
    color: #86878B;
    text-align: right;
}