@import url(customers.css);
@import url(pricing.css);
@import url(axure.css);

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
}
.awesome{
    padding-top: 100px;
    padding-bottom: 109px;
    text-align: center;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}
.awesome-title {
    color: #212121;
    margin-bottom: 57px;
    position: relative;
}
.awesome-title::after{
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #D98943;
    margin-left: -236px;
    bottom: -25px;
}
.text{
    line-height: 19px;
    color: #86878B;
}
.awesome-text {
    margin-bottom: 67px;
}
.awesome__row {
    display: flex;
    justify-content: space-between;
}
.awesome__row-item {
    max-width: 350px;
}
.awesome__row-circle {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #D98943;
    border-radius: 50%;
    width: 70px;
    height: 70px;   
    margin: 0 auto;
}
.awesome__row-title {
    margin-top: 30px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.awesome__row-text {
    line-height: 19px;
    text-align: center;
}
