.advantage {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 50px;
    @media (max-width: 812px){
        padding-top: 100px;
        padding-bottom: 40px;
    }
    @media (max-width: 770px){
        padding-top: 90px;
        padding-bottom: 30px;
    }
    @media (max-width: 400px){
        padding-top: 60px;
        padding-bottom: 10px;
    }
}



/* .advantage__inner-container {
    max-width: 1076px;
    margin: 0 auto;
} */

.advantage__items {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px -47px; */
    margin: 0px -15px;
    @media (max-width: 1200px){
        justify-content: center;
    }
    
}


.advantage__item {
    display: flex;
    flex-direction: column;
    max-width: 303px;

    /* flex: 0 1 33.333%; */
    /* margin-bottom: 74px;
    padding: 0px 47px; */
    text-align: center;
    margin: 0px 47px 74px;
    @media (max-width: 820px){
        max-width: 250px;
        
    }
    @media (max-width: 720px){
        max-width: 231px;
    }
    @media (max-width: 670px){
        max-width: 303px;
    }
}

.advantage__inner-img {
    margin-bottom: 35px;
}

.advantage__img {
    max-width: 100%;
}

.advantage__title {
    margin-bottom: 25px;
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantage__inner-text{
    align-self: center;
}

.advantage__text {

    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}
