.application {
    padding-top: 100px;
    padding-bottom: 97px;
    background-color: #ffffff;
    @media (max-width: 768px){
        padding: 60px 0px;
        
    }
    @media (max-width: 420px){
        padding: 50px 0px;
    }
}
.application__content{
    text-align: center;

}
.application__title {
    max-width: 700px;
    color: #2d3033;
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;
    margin: 0 auto 16px;

    @media (max-width: 670px){
        max-width: 544px;
        font-size: 28px;
        line-height: 29px;
    }
    @media (max-width: 530px){
        max-width: 450px;
        font-size: 25px;
        line-height: 28px;
        margin: 0 auto 23px;
    }
    
}
.application__inner-text {
    margin-bottom: 40px;
}
.application__text {
    margin: 0 auto;
    max-width: 320px;
    color: #2d3033;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.application-link{
    padding: 20px 85px;
    font-size: 13px;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid #e84545;
    }
    @media (max-width: 670px){
        padding: 18px 63px;
    }
    @media (max-width: 670px){
        padding: 18px 63px;
        
    }
    @media (max-width: 420px){
        
        padding: 13px 44px;
    }

}