.carousel {
}
.carousel__row:nth-child(even){
    background-color: #53354a;
}
.carousel__row:nth-child(odd){
    background-color:  #e07e0f;
}
.carousel__row {
    /* background-color: #53354a; */
}
.carousel__slaider{
    display: flex;
    @media (max-width:800px){
        padding: 2% 0px 2% 0px;
    }
    @media (max-width:725px){
        flex-direction: column;
    }
    @media (max-width:725px){
        padding: 2% 0px 6% 0px;
    }
    @media (max-width:550px){
        padding: 2% 0px 10% 0px;
    }
    @media (max-width:400px){
        
        padding: 2% 0px 14% 0px;
    }

}

.carousel__item-img{
    /* width: 50%; */
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.carousel__inner-img {
    /* max-width: 988px;
    max-height: 503px; */
    /* min-height: 503px; */
    
}
.carousel__img {
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
    object-fit: cover;
    object-position: center;
    @media (max-width:800px){
        border-radius: 50%;
        height: 250px;
        width: 250px;
       
    }
}
.carousel__item-content{
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    overflow: hidden;
    padding: 2% 2%;

}
.carousel__inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.carousel__title {
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
    max-width: 505px;
    margin-bottom: 30px;
    @media (max-width:1080px){
        max-width: 500px;
        line-height: 40px;
        font-size: 33px;
    }
    @media (max-width:1000px){
        max-width: 371px;
        line-height: 35px;
        font-size: 30px;
        margin-bottom: 15px;
    }
    @media (max-width:900px){
        max-width: 328px;
        line-height: 30px;
        font-size: 27px;
        margin-bottom: 12px;
        text-align: center;
    }
}
.carousel__subtitle {
    font-weight: 700;
    line-height: 21px;
    font-size: 13px;
    text-transform: uppercase;
    @media (max-width:900px){
        
        text-align: center;
    }
    
}
.slick-dots{
    display: flex;
    list-style: none;
    position: absolute;
    left: 75%;
    bottom: 10%;
    transform: translate(-50%);
    @media (max-width:725px){
        left: 50%;
        bottom: 4%;
    }
    @media (max-width:663px){
        bottom: 3%;
    }

}
.slick-dots button{
    font-size: 0px;
    width: 15px;
    height: 15px;
    background-color: #755d6e;
    /* background-color: #000; */
    border-radius: 50%;
    margin-right: 8px;
    
}
.slick-active button{
    background-color: #ffffff;
}