.contacts {
    background-color: #3a3e64;
    padding-top: 70px;
    padding-bottom: 88px;
    @media (max-width: 975px){
        padding-bottom: 48px;
    }
    @media (max-width: 650px){
        padding-bottom: 0px;
        padding-top: 40px;
    }
}

.contacts__body {
    max-width: 1018px;
    margin: 0 auto;
}
.contacts__row {
    display: flex;
    @media (max-width: 975px){
        flex-wrap: wrap;
        
    }
}
.contacts__item {
    flex: 0 1 33.333%;
    text-align: center;
    @media (max-width: 975px){
        flex: 0 1 100%;
        margin-bottom: 40px;
    }
    
}
.contacts__title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contacts__text {
    color: #9d9fb2;
    font-size: 14px;
    line-height: 22.5px;
    max-width: 150px;
    margin: 0 auto;
}
.contacts__content{
    color: #9d9fb2;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.5px;
    max-width: 328px;
    margin: 0 auto;
}
.contacts-row{
    display: flex;
    justify-content: center;
}
.contacts-social{
    border: 2px solid #ffffff;
}
.contacts-icon{
    color: #ffffff;
}
