@import "./reset.scss";
@import "./template.scss";
@import "./advantage.scss";
@import "./gallery.scss";
@import "./vertical.scss";
@import "./carousel.scss";
@import "./application.scss";
@import "./contacts.scss";
@import "./footer.scss";


body{   
    font-family: 'Raleway', sans-serif;
    /*  font-family: 'Cardo', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 13px;
    font-weight: 400;
    color: #6c7279;
    line-height: 21px;
}
