.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow: hidden;
}
.wrapper__body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 4;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    position: fixed;
    width: 100%;
    background-color: rgba(48, 51, 78, 0.8);
    /* margin-bottom: -102px; */
    top: 0;
    left: 0;
    z-index: 10;
    padding: 38px 0;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.15);
    
}
.heder__burger {
    display: none;
}
.heder__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.heder__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.heder__burger.active span{
    transform: scale(0);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 189px;
    height: 24px;
}
.header__img {
    width: 100%;
}
.header__menu-list {
    display: flex;
    justify-content: center;
}
.header__menu-item:not(:first-child) {
    margin-left: 59px;
}
.header__menu-item{
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    
}

.header__menu-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #ccccd3;
    transition: all .3s;
    &:hover{
        color: coral;
    }
}
@media (max-width:900px){
    body.lock{
        overflow: hidden;
    }
    .header{
        padding: 20px 0;
    }
    .heder__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .heder__burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        
        transition: all .3s;/*для плавности появления крестика */
    }
    .heder__burger:before,
    .heder__burger:after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        
        transition: all .3s;
    }
    .heder__burger:before{
        top: 0;
    }
    .heder__burger:after{
        bottom: 0;
    }
    .header__menu{
        position: fixed;
        /* top: 0;  чтобы меню появлялось при нажатии на бургер -100%*/
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(16, 16, 17, 1);
        padding: 80px 10px 20px 10px;

        transition: all .3s;
        
        overflow: auto;/* при повороте телефона в гориз положение чтобы была возможность доступа к меню навигации */
        text-align: center;
    }
    .header__menu.active{
        top: 0;
    }
    .header__inner{
        height: 50px;
    }
    /* .header__logo {
        flex: 0 0 40px;
    } */
    .header__menu-list{
        display: block;
    }
    .header__menu-item{
        margin: 0px 0px 20px 0px;
    }
    .header__menu-item:not(:first-child) {
        margin-left: 0;
    }
    .header__menu-link{
        font-size: 24px;
    }
    /* .section{
        padding-top: 60px;
    } */
}
@media (max-width: 800px){
    .header{
        padding: 10px 0px;
    }
}
@media (max-width: 400px){
    .header{
        padding: 2px 0px;
    }
}

.template {
    padding-bottom: 10px;
    display: flex;
    min-height: 100vh;
    padding-top: 102px;


    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.template::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 51, 78, .9);
}
/* .container-advantage{
    position: relative;
    z-index: 5;
} */
.template__content {
    text-align: center;
    
}
.template__title {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    max-width: 875px;
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
    margin: 0 auto 41px;
    @media (max-width:1050px){
        font-size: 60px;
    }
    @media (max-width:900px){
        font-size: 53px;
    }
    @media (max-width:800px){
        font-size: 45px;
        max-width: 699px;
        line-height: 55px;
    }
    @media (max-width:701px){
        font-size: 40px;
        margin: 0 auto 37px;
        max-width: 650px;
    }
    @media (max-width:600px){
        font-size: 35px;
        line-height: 38px;
        margin: 0 auto 30px;
        max-width: 600px;
    }
    @media (max-width:500px){
        font-size: 30px;
        max-width: 450px;
    }
    @media (max-width:400px){
        font-size: 27px;
        
    }
}
.template__inner-tex {
    text-align: center;
    margin-bottom:  77px;
    @media (max-width:700px){
        margin-bottom: 70px;
        
    }
    
    
    .template__text {
        color: #ffffff;
        max-width: 930px;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        margin: 0 auto;
        @media (max-width:1050px){
            max-width: 700px;
        }
        @media (max-width:900px){
            font-size: 20px;
        }
        @media (max-width:800px){
            font-size: 18px;
            max-width: 600px;
        }
        @media (max-width:600px){
            font-size: 19px;
            max-width: 454px;
            line-height: 26px;
        }
        @media (max-width:500px){
            max-width: 400px;
        }
        @media (max-width:400px){
            line-height: 24px;
        }
    }
    }
    .template-link{
        padding: 18px 46px 18px 54px;
        
}
.link {
    display: inline-block;
    background: #e84545;
    color: #ffffff;
    line-height: 21px;
    text-transform: uppercase;
    transition: all .3s;
    &:hover{
        background: #ffffff;
        color: #e84545;
    }
}