.vertical {
    padding: 100px 0;
    background-color: #ffffff;
    @media (max-width: 1200px){
        padding: 100px 0px 60px 0px;
    }
    @media (max-width: 600px){
        padding: 100px 0px 0px 0px;
    }   
}

.vertical__row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.vertical__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
    padding: 0 15px;
    @media (max-width: 1200px){
        flex: 0 1 50%;
        margin-bottom: 40px;
        align-items: center;
    }
    @media (max-width: 670px){
        flex: 0 1 100%;
        margin-bottom: 70px;
        /* align-items: center; */
    }
}
/* .vertical__item{
    display: flex;
    flex-direction: column;
    
} */

.vertical__inner-img {
    height: 270px;
    width: 270px;
    margin-bottom: 30px;
    
}
.vertical__img {
    width: 100%;
    @media (max-width: 1200px){
        border-radius: 50%;
    }
}
.vertical__inner-label {
    margin-bottom: 29px;
    text-align: left;
}
.vertical__title {
    margin-bottom: 16px;  
    color: #2d3033;
    font-size: 22px;
}
.vertical__subtitle {
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
}
.vertical__inner-text {
    flex: 1 1 auto;
    margin-bottom: 29px;
}
.vertical__text {
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    @media (max-width: 1200px){
        max-width: 265px;
    }
}

.vertical-social{
    border: 1px solid  #c6cacc;
    
}
.social__row {
    display: flex;
}
.social__item {
    transition: all .3s;
    &:not(:last-child){
        margin-right: 4px;
    }
    &:hover{
        transform: scale(1.1);
    }
}
.social__item:hover .fa-facebook-f {
    color: #3b5998;
    
}
.social__inner-item{
    width: 43px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link{
    display: inline-block;
}
.fab {
    font-size: 21px;
}
.vertical-icon{
    color: #c6cacc;
}
.fa-facebook-f {
    transition: all .3s;
    &:hover{
        color: #3b5998;
        
    }
}
.fa-twitter {
    transition: all .3s;
    &:hover{
        color: #00acee;
        
    }
}
.fa-linkedin {
    transition: all .3s;
    &:hover{
        color: #0e76a8;
        
    }
}